ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: right;
  grid-column: auto;
  display: inline;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

 li:hover {
   text-decoration: underline;
 }

.center {
    margin: auto;
    text-align: center;
}


.searchbar input {
    height: 25px;
    width: 220px;
    border-radius: 10%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(119, 116, 116, 0.637);
  color: white;
  text-align: center;
  display: grid;
}

